
<h2 style="text-align: center;">
  {{title}}
</h2>
<br />
<br />
<img style="     display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 50%;" src="../assets/images/logo/SOMV-Logo.png" alt="Logo">
<div style="text-align: center;">
  <h4>If you already have experience as a Sage of the Multiverse, please click the "Login to Sage Account" button.  If not, please click the "Create Sage Account" button.</h4>
  <br />
  <button type="button" routerLink="/new-account" routerLinkActive="active">Create Sage Account</button>
  <button type="button" routerLink="/login" routerLinkActive="active">Login to Sage Account</button>

  <br /><br /><br />
  <h5 style="font-style: italic; color: blue;margin: 40px;">
    *Disclaimer: This app is functioning without any styling for the sake of having something to show. I intend to have
    a more stylized rough-draft of this app up soon!!! Thank you for viewing my work in progress. - Anthony Walter (Programmer/Creator)
  </h5>
</div>